<!DOCTYPE html>
<html>

<head>
	<title>Tolulope Olujobi</title>


	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Safe and scure cloud website/platform." />
	<meta property="og:title" content="Tiaco - Deploy your websites and store your data in a safe platform." />
	<meta property="og:description"
		content="Tiaco is an imaginary web-hosting and version control platform. It's designed showcase the skill acquire through HTLM and CSS classes. To practice how build website from scratch." />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://olujobitolu.corg/tiaco.jpg" />
	<meta property="og:url" content="http://olujobitolu.org" />
	<title>Tolu Olujobi | Profile</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-47692315-56');
	</script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-47692315-56');
	</script>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<meta name="referrer" content="no-referrer-when-downgrade">


	<link rel="stylesheet" href="frontend/css/style.css" />


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="frontend/css/style.css" />
	<link rel="stylesheet" type="text/css" href="frontend/css/default.css">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


</head>


<body>

	<section class="home">
		<div class="container-1">
			<div class="home-title align">
				<h1 class="mg-b">Tolulope Olujobi</h1>
				<h2 class="lead">Full Stack Dev</h2>
			</div>
			<div class="m d-flex">
				<!--<h5 class="u-center-text">Chose a Theme</h5>-->
				<!--<div id="theme-options-wrapper">
					<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					<div data-mode="light" id="blue-mode" class="theme-dot"></div>
					<div data-mode="green" id="green-mode" class="theme-dot"></div>
					<div data-mode="blue" id="light-mode" class="theme-dot"></div>
				</div>

				<!--<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>-->
			</div>


			<div class="site-wrapper">
				<!-- navigation start -->
				<div class="nav-wrapper">

					<!--Home -->

					<div class="dots">
						<img src="img/logo.png" class="img-fluid mb-1">

					</div>



					<ul id="navigation">
						<!--<h2 id="close-btn u-center-text"></h2>-->
						<li><a href="#contact" class="default-font">Contact</a></li>
						<li><a href="#projects" class="default-font">Projects</a></li>
					</ul>

					<img id="menu-icon" src="img/menu.png">

				</div>


				<script type="text/javascript">
					let menu = 'closed'

					let menuIcon = document.getElementById('menu-icon')
					let navigation = document.getElementById('navigation')
					let closeBtn = document.getElementById('close-btn')

					menuIcon.addEventListener('click', toggleMenu)
					closeBtn.addEventListener('click', toggleMenu)


					function toggleMenu() {
						if (menu == 'closed') {
							navigation.style.display = 'block'
							closeBtn.style.display = 'block'
							menu = 'open'
						} else {
							navigation.style.display = 'none'
							closeBtn.style.display = 'none'
							menu = 'closed'
						}
					}


					// Attaching the event listener function to window's resize event

					window.addEventListener("resize", function () {
						let width = document.documentElement.clientWidth;
						if (width > 1080) {
							navigation.style.display = 'block'
						} else {
							navigation.style.display = 'none'
						}
						menu = 'closed'
						closeBtn.style.display = 'none'
					});

				</script>
				<!-- navigation end -->

				<div class="left-column animate__animated animate__fadeInLeft">
					<img id="profile_pic" src="img/tolu.png" class="mb-1">
				</div>

				<div class="right-column animate__animated animate__zoomIn">
					<img src="img/new-1.jpg" alt="" class="pic-dim">

					<!--<div id="preview-shadow" class="align-items-center">
						<div id="preview" class="pos2">
							<div id="corner-tl" class="corner align-g"></div>
							<div id="corner-tr" class="corner align-g"></div>
							<h3>What I Do</h3>
							<p>I was a research & graduate assitant at University, now I tickle my brain with
								projects and coding.</p>
							<h3>Who are mine</h3>
							<p>I'm a passionate developer but more importantly I'm passionate about technology.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</section>


	<section class="about-wrapper s2">
		<div class="main-container">
			<div class="row mb-4 align">
				<div class="u-center-text align animate__animated animate__bounceInDown" data-aos="">
					<h2 class="about_section-title mb-1">More about me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-1-of-2 animate__animated animate__fadeInLeft" data-aos="fade-up" data-aos-delay="200">

					<div id="skills">
						<p class='m-txt'>I am passionate full stack software Engineer and I used python,
							Django-framework, CSS3,
							HTLM,
							React and basic javascript to build new projects.</p>
					</div>
					<br> <br> <br> <br> <br> <br>
					<div id="skills">
						<p m-txt>While I keep busy learning, coding & working with team, I still take interviews in
							search
							of a
							great team & projects
							that interest me.</p>
					</div>



				</div>
				<div class="col-1-of-2 animate__animated animate__fadeInRight">
					<div id="skills" style="display: block !important;" class="u-center-text">
						<h4 style="display:inline-block;">TOP EXPERTISE</h4>
						<br>
						<p>Fullstack developer with primary focus on Django + React:</p>
					</div>
					<div class=" row align mb-4 ">
						<p><a class="align" target="_blank" href="#">Download
								Resume</a></p>
					</div>

					<div id="skills" style="display: block !important;" class="font-1 u-center-text">
						<h4 style="display:inline-block;">TOP Kits</h4>
						<div style="display: flex !important; gap: 3rem" class="align">
							<ul>
								<li>Python</li>
								<li>Django</li>

								<li>React</li>
								<li>Postgres</li>
							</ul>
							<ul>
								<li>Payment API</li>
								<li>JavaScript</li>
								<li>Heroku</li>
								<li>HTML/CSS</li>
							</ul>
						</div>

					</div>

				</div>

			</div>


			<div class=" row mg-4 m-t aos-init aos-animate" data-aos="fade-up">
				<ul class="row align dl">

					<li class="social-a"><a target="_blank" href="#"><img src="img/github.png"
								class="team-mate-icon"></a>
					</li>
					<li class="social-a"><a target="_blank" href="#"><img src="img/twitter.png"
								class="team-mate-icon"></a>
					</li>
					<li class="social-a"><a target="_blank" href="#"><img src="img/linkedin.png"
								class="team-mate-icon"></a>
					</li>
					<li class="social-a"><a target="_blank" href="https://www.instagram.com"><img
								src="frontend/img/instagram.png" class="team-mate-icon"></a>
					</li>
				</ul>


				<!--<div class="social-links">
					<img id="social_img" src="{% static 'frontend/img/follow.jpg' %}">
					<h3>Find me on Twitter & Youtube</h3>

					<a target="_blank" href="https://www.youtube.com/c/samco">YouTube: @samco</a>
					<br>
					<a target="_blank" href="https://twitter.com/samco11">Twitter: @samco</a>
				</div>-->

			</div>
		</div>
	</section>

	<section class="site-pad border-bottom mb-1 align s3" id="projects">
		<div class="container">
			<h2 style="text-align: center;" class="mb-4">Some of my past projects</h2>



			<div class="row mb-1 align">
				<div class="u-center-text mb-1">
					<h4 class="about_section-title">Tiaco-ecommerce site</h4>
				</div>
			</div>
			<div class="row align">


				<div class="col-1-of-2">

					<img class="featured_image" src="img/ecomnonuser.png">



					<span class="tag">Django</span>
					<span class="tag">Python</span>
					<span class="tag">HTLM</span>
					<span class="tag">CSS3</span>
					<span class="tag">Git & Github</span>
					<span class="tag">SASS</span>
					<span class="tag">PostGres</span>
					<span class="tag">Javascript</span>
					<span class="tag">payment-API</span>



					<hr>



				</div>
				<div class="col-1-of-2">
					<p>Tiaco is a fantastic, modern, technical and elegant  backend and frontend site. This site is
						basically designed as a beverage Ecommerce site with stripe and palpay payment integration. it
						uses session data to add selected item to cart for non-registered user while registered users
						could also save selected items for period of time as long as item still available for sale. At
						backend; admin  uploads new products, add price, discount or percentage discount, rating,
						generate promo code,, invoice generation and refund services are also available. The site
						monitor payment activities through API payment integration technology (called listen) and
						validate it with order details and users profile at backend using database called Postgress.
					</p>




				</div>
			</div>

			<div class="row mb-1 align">
				<div class="u-center-text mb-1">
					<h4 class="about_section-title">Tiaco Cloud server</h4>
				</div>
			</div>
			<div class="row align">


				<div class="col-1-of-2">





					<img class="featured_image" src="img/testmonial.png">



					<span class="tag">HTLM</span>
					<span class="tag">CSS3</span>
					<span class="tag">Git & Github</span>
					<span class="tag">SASS</span>

					<hr>



				</div>
				<div class="col-1-of-2">
					<p>Tiaco Cloud server is a one page template
						Beverage Production website  combines both frontend and backend web-development tool to showcase
						and promote state of heart facilities and refreshing flavour of the company to the world. Home
						page display different company products, exhibit state of art facility, contact details and
						filterable menu. Different apps were integrated within the site; these app include financial
						activities app, staff details and distributor details app.</p>



					<a href="https://samco2.github.io/cloudserver.github.io/" target="_blank" class="">
						Actual-website
					</a>

				</div>
			</div>



			<div class="row mb-1 align">
				<div class="u-center-text mb-1">
					<h4 class="about_section-title">Xs-Template</h4>
				</div>
			</div>
			<div class="row align">


				<div class="col-1-of-2">





					<img class="featured_image" src="img/demo-tem.jpg" alt= "template">



					<span class="tag">HTLM</span>
					<span class="tag">CSS3</span>
					<span class="tag">Git & Github</span>
					<span class="tag">SASS</span>

					<hr>



				</div>
				<div class="col-1-of-2">
					<p>Xs-Template is a creative one page website template that can be used  by freelancers and
						agencies. The template was coin-out using HTML and CSS tool with 100% responsiveness in all
						devices.

						    Right from hero-section, visitor gets captivated with full screen banner with short
						introductory text and button; calling user to action. The captivating hero section captures
						visitor attention to explore more contents within the site and to learn more about the agency. 
						The other features of the template include seamless dropdown menu, on scroll content loading,
						array-grid-gallary, team-portfolio, slider-testimonals, blog-section, pricing cards and working
						contact form. All these gether together to make multi-purpose, adaptable one page template.</p>



					<a href="https://samco2.github.io/Xs-template.github.io/" target="_blank" class="">
						Actual-website
					</a>

				</div>
			</div>

			<div class="row mb-1 align">
				<div class="u-center-text mb-1">
					<h4 class="about_section-title">Beverage production company</h4>
				</div>
			</div>
			<div class="row align">


				<div class="col-1-of-2">

					<img class="featured_image" src="img/beverage's-company.png">



					<span class="tag">Django</span>
					<span class="tag">Python</span>
					<span class="tag">HTLM</span>
					<span class="tag">CSS3</span>
					<span class="tag">Git & Github</span>
					<span class="tag">SASS</span>
					<span class="tag">PostGres</span>
					<span class="tag">Javascript</span>
					<span class="tag">payment-API</span>



					<hr>



				</div>
				<div class="col-1-of-2">
					<p>Beverage Production website  combines both frontend and backend web-development tool to showcase
						and promote state of heart facilities and refreshing flavour of the company to the world. Home
						page display different company products, exhibit state of art facility, contact details and
						filterable menu. Different apps were integrated within the site; these app include financial
						activities app, staff details and distributor details app.

						The site creates financial database, staff-record and potential distributor registered their
						details on the site...
					</p>




				</div>
			</div>
		</div>
	</section>




	<section class="s2">
		<container>
			<div class="row">
				<div class="col-1-of-2 ov">
					<h3 style="text-align: center;">Testimonials</h3>
					<div class="container">
						<div class="row align">
							<div class="slider-con">
								<div class="wrapper">
									<div class="slider-holder">
										<div id="slider-1">
											<div class="owl-item cloned">
												<div>
													<div class="testimonial">
														<blockquote class="mb-4">
															<p class="mg-s">“Tolu, the coding virtuoso, possesses a
																remarkable talent for crafting intricate software
																solutions. Her commitment to staying at the forefront
																of technological advancements is truly inspiring.
																Working with Tolu guarantees a blend of creativity,
																precision, and relentless determination, making her a
																standout developer in every sense..”
															</p>
														</blockquote>
														<figure class="u-margin-bottom-small  d-flex align">
															<div><img src="img/ben_thompson.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>Robert Spears</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div id="slider-2">
											<div class="owl-item cloned">
												<div>
													<div class="testimonial">
														<blockquote class="u-margin-bottom-small">
															<p class="mg-s">“Tolu is an an incredible team player,
																always willing
																to lend a helping
																hand and she actively collaborate with colleagues,
																sharing her knowledge generously..”</p>
														</blockquote>
														<figure class="u-margin-bottom-small d-flex align">
															<div><img src="img/janet.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>Janet Rogers</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div id="slider-3">
											<div class="owl-item active">
												<div>
													<div class="testimonial">
														<blockquote class="u-margin-bottom-small">
															<p class="mg-s">“I am opportune to work with Tolu; she is
																an excellent &
																motivating personality to work with.Her outstanding
																problem-solving skills,
																technical proficiency and consistence for cut-edge ideas
																is exceptional.

																”</p>
														</blockquote>
														<figure class="u-margin-bottom-small d-flex align">
															<div><img src="img/chris_stewart.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>John Smith</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div id="slider-4">
											<div class="owl-item">
												<div>
													<div class="testimonial">
														<blockquote class="u-margin-bottom-small">
															<p class="mg-s">“Tolu is a developer whose skills shine as
																brightly as her enthusiasm for coding. her
																commitment to writing clean, efficient code is truly
																commendable. Collaborating with Tolu is a delightful
																experience, as she consistently bring fresh
																perspectives and innovative solutions to the table.
																Whether it's debugging or designing, Tolu's expertise is
																a driving force behind every successful project..”
															</p>
														</blockquote>
														<figure class="u-margin-bottom-small d-flex align">
															<div><img src="img/benjamin_frank.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>Christine Aguilar</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="button-holder">
									<span href="#slider-1" class="dots"></span>
									<span href="#slider-2" class="dots"></span>
									<span href="#slider-3" class="dots"></span>
									<span href="#slider-4" class="dots"></span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-1-of-2">

					<a href=""></a>
					<h3 style="text-align: center;">Get In Touch</h3>
					<form id="contact-form" method="POST" action="{% url 'send_email' %}">
						{% csrf_token %}
						<a name="contact"></a>
						<label>Name</label>
						<input required class="input-field" type="text" name="name">
						<label>Subject</label>
						<input required class="input-field" type="text" name="subject">
						<label>Email</label>
						<input required class="input-field" type="text" name="email">
						<label>Message</label>
						<textarea required class="input-field" name="message"></textarea>
						<input id="submit-btn" type="submit" value="Send">
					</form>

				</div>

			</div>
		</container>
	</section>

	<script type="text/javascript">
		let static = "css"
	</script>

	<script type="text/javascript" src="js/script.js"></script>

</body>

</html>
