:root{
	--mainColor:#0a060e;
	--secondaryColor:#05010c;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#c9c2c2;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#2b202f;


	--buttonColor:#8534a3;


}



html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Raleway';
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Raleway';
}

a{
	text-decoration: none;
	color:#17a2b8;
	font-size: 1.6rem;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}
















.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}


#skills{
	display: flex;
	justify-content: space-evenly;
	/* background-color: var(--previewShadow); */
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}

#social_img{
	width: 100%;
}


.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail{
	display: block;
	width: 100%;
	height:42rem;
	object-fit: cover;
}

.post-preview{
	background-color: #fff;
	padding:15px;
}

.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 14px;
}

.tag{
	display:inline-block;
	color:#fff;
	background-color: #888;
	border-radius: 5px;
	margin: 2px;
	padding: 2px 5px;
	font-size: 12px;	
}


#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}


/* Login Page (START) */

	#login-page-wrapper{
		background: #eaeaea;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#login-form-wrapper{
		width: 400px;
		background: #fff;
		padding: 20px;
		-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	}

	@media screen and (max-width: 400px){
		#login-form-wrapper{
			width: 95%;
		}
	}


/* Login Page (END) */


@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}



