.cta-big-image > .container {
    position: relative; 
}
  
.team-mate figure {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
  
.team-mate .social {
    position: absolute;
    margin: 0;
    top: 0;
    padding: 0;
    bottom: 0;
    padding: 10px;
    -webkit-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background: #007bff;
}
.team-mate .social li {
    list-style: none; 
}
.team-mate .social li a {
    display: inline-block;
    padding: 5px;
    color: #fff; 
}
  
.team-mate h3 {
    color: #000;
    margin: 0;
    bottom: 0;
    font-size: 1.2rem; 
}
  
.team-mate .position {
    color: #cccccc;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05rem; 
}
  
.team-mate:hover .social {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); 
}